{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}

{% block contenido %}
    <h1>NOTICIAS DESTACADAS</h1>
    <img src="{{ noticia.imagen.url }}" width="500" height="500">
    
    <p><strong>TITULO:</strong> {{ noticia.titulo }}</p>
    <p><strong>FECHA:</strong> {{ noticia.fecha }}</p>
    <p><strong>CATEGORIA:</strong> {{ noticia.categoria_noticia }}</p>
    <p><strong>CUERPO:</strong> {{ noticia.cuerpo }}</p>
    
    <br><br>
    
    <form method="POST" action="{% url 'noticias:comentar' %}">
        {% csrf_token %}
        <textarea name="comentario" maxlength="1500" placeholder="Escriba su comentario acá"></textarea>
        <input type="hidden" name="id_noticia" value="{{ noticia.pk }}"> 
        <input type="submit" value="GUARDAR">
    </form>
    
    <br><br><br>
    <h3>COMENTARIOS</h3>
    {% if comentarios %}
        <ul>
            {% for com in comentarios %}
                <li>
                    <p><strong>FECHA:</strong> {{ com.fecha }}</p>
                    <p><strong>USUARIO:</strong> {{ com.usuario }}</p>
                    <p>{{ com.texto }}</p>

                    {% if user == com.usuario %}
                        <a href="">borrar</a>
                    {% endif %}
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay comentarios aún.</p>
    {% endif %}
    
    <a href="{% url 'noticias:listar' %}">VOLVER</a>

{% endblock contenido %}