{% extends 'base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}

{% block contenido %}

<main>
   <div>
     <form action="" method="post">
       {% csrf_token %}
       <h2>Registrarse</h2>
       <div>
         {{ form.as_p }} <!-- Esto mostrará todos los campos del formulario automáticamente -->

         <span>Género</span>
         <div>
            <input type="radio" name="gender" id="male" value="Masculino">
            <label for="male">Masculino</label>
            <input type="radio" name="gender" id="female" value="Femenino">
            <label for="female">Femenino</label>
            <input type="radio" name="gender" id="other" value="Otro">
            <label for="other">Otro</label>
         </div>
      </div>
      <div>
         <p>Al hacer clic en Registrarse, acepta nuestros <a href="#">Términos,</a> <a href="#">Política de Privacidad,</a> y <a href="#">Política de cookies.</a> Puede recibir notificaciones por SMS de nuestra parte y puede cancelar su suscripción en cualquier momento.</p>
      </div>
      <div>
         <button type="submit">Registrarse</button>
      </div>
   </form>
   <!-- Muestra los errores del formulario -->
   {{ form.errors }} 
 </div>
</main>
 {% endblock contenido %}