{% extends 'base.html' %}
{% load static %}

{% block titulo %}HOME{% endblock titulo %}


{% block contenido %}
	<h1>Inteligencias Artificales</h1>

	<h2> La inteligencia artificial (IA) ha dejado de ser una idea futurista para convertirse en una herramienta clave en nuestro día a día. Desde la automatización de tareas simples hasta el desarrollo de sistemas que pueden aprender y tomar decisiones complejas, la IA está transformando industrias enteras y redefiniendo cómo interactuamos con la tecnología. Esta evolución no solo impacta a sectores como la salud, la educación y la industria, sino también a nuestra vida cotidiana, mejorando la eficiencia, la personalización y el acceso a la información.</h2>

	<h2>En este blog, exploraremos el fascinante mundo de la IA, desglosando sus avances más recientes, sus aplicaciones prácticas y su potencial futuro. Analizaremos cómo la IA está revolucionando el campo de los negocios, la ciencia, el entretenimiento y hasta la creatividad humana. También abordaremos los desafíos éticos y sociales que surgen con su implementación masiva, así como las oportunidades que brinda para mejorar la calidad de vida.</h2>
		
	<h2>Nuestro objetivo es desmitificar la IA y mostrar cómo todos podemos aprovechar su poder para optimizar nuestras actividades diarias y profesionales. ¡Acompáñanos en este viaje para descubrir el impacto de la inteligencia artificial en el presente y el futuro!</h2>

	<h3> BIENVENIDOS AL TRABAJO FINAL DEL GRUPO 7 </h3>
{% endblock contenido %}

