{% extends 'base.html' %}
{% load static %}

{% block titulo %}Nosotros{% endblock titulo %}


{% block contenido %}
	<h1> EL EQUIPO G7 </h1>
	<h2> Panelli Gabriela </h2> 
	<p> Es de Resistencia, Chaco. Actualemente se desempeña como representante de atencion al cliente en empresa de Telecomunicaciones.</p>
	<p> Ingreso al Informatorio para aprender nuevas habilidades y expandir sus posibilidades en lo laboral</p>
	
	<h2> Ruth Sosa </h2>
	<p> Es de Barranqueras, Chaco. Actualemente se desempeña como copywriter de su agencia de marketing digital (Taisel, Soluciones Digitales).</p>
	<p> Ingreso al Informatorio con el fin de poder expandir su Pyme a otros horizontes. </p>
{% endblock contenido %}

